* {
    margin:0;
    padding:0;
}
header {
    background-color: rgb(172, 136, 206);
    min-height:3rem;
}
.app-desc .menu-list {
    margin: 0.2rem;
    padding: 0.2rem;
    ;
}
.menu-list li {
    width: 8rem;
    height: min-content;
    background-color: rgb(165, 116, 189);
    color: white;
    text-align: center;

}

body {
    background-color: rgb(245, 233, 221);
    background-image: url(../../images/bangtan.png);
}


.navbar-brand a:hover, .navbar-brand a:focus .navbar-brand a:visited {
    text-decoration: purple;
    
}

.navbar-brand h1 {
    color:darkslateblue;
    text-shadow: rgb(70, 7, 97);
   

}

#logo-img {
    background: url(../../images/bts-pink.png) no-repeat;
    width: 200px;
    height: 200px;
    margin: 5px 5px 10px 0;
}

.menu {
    display: flex;
    padding: 10px;
    margin: auto;
}
.menu-list {
    display:inline-flex;
    padding:0.1em;
    margin: 0.1em;  
    
}
.menu-items{
    padding:0.3em;
    margin: 0.3em;
    list-style-type: none;
    border: blueviolet;
    border-width: 1em;
    list-style-type: none;
    width: max-content;
    
}

/* Biography Section */
.bio-sec {
    background-color: rgb(144, 159, 242);

}
.bio-title {
    text-align: center;

}
/* Sections General Style */ 
.api-sec .bio-sec{
    opacity: 95%;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
}
/*Table Style */
.api-sec {
background-color: rgb(217, 184, 245);
}
.table {
    border: rgb(70, 7, 97);

}
.table-title {
    text-align: center;

}
.table-row {
    text-align: center;
    text-shadow: purple;
}

.col-header {
    color: blue;
}

col {
    background-color: rgba(228, 228, 199, 0.379);
}

.api-result {
    color: red;
}

.center-data {
    text-align: center;
}